	<table id="table" class="pure-table pure-table-horizontal table">
		<thead>
			<tr>
				<th>#</th>
				<th>Handle</th>
				<th>Points</th>
				<th>Challenge Points</th>
				<th>Total Points</th>
			</tr>
		</thead>
		
		
		<tbody>
			{% for leader in leaders %}
				<tr onclick="document.location='/user/{{leader['username']}}';"  >
					<td>{{leaders.index(leader)}}</td>
					<td>{{leader['username']}}</td>
					<td>{{leader['attack_points']}}</td>
					<td>{{leader['challenge_points']}}</td>
					<td>{{leader['challenge_points']+leader['attack_points']}}
				</tr>
			{% endfor %}
		</tbody>
	</table>
