{% extends "design/site.html" %}
{% block content %}
<h1 class="pure-u-13-24" style="margin:auto;display:block;">Bad Request</h1><div></div>
<p class="pure-u-5-6" style="margin:auto;display:block;">This is a bad request, you should report this if you didn't do something wrong. If you did do something wrong and you think you caused a problem in the server you should report the issue anyway. If you did find something you could be rewarded with points in the Hall of Fame.</p>
<br/>
<p class="pure-u-5-6" style="margin:auto;display:block;">Either way, <b>Please report this issue on <a href="https://github.com/coldwaterq/want2hack/issues/new?title=Internal%20Server%20Error:&body=Problem:%0aLocation:%0aOther%20Comments:">Github</a></b></p>
{% endblock %}
