{% extends "../design/site.html" %}
{% block content %}
<h1 class="pure-u-13-24" style="margin:auto;display:block;">ERROR 418: I'm a Teapot</h1><div></div>
<img class="pure-u-13-24" style="margin:auto;display:block;" src="http://upload.wikimedia.org/wikipedia/commons/4/45/Htcpcp_teapot.jpg"/>
<p class="pure-u-13-24" style="margin:auto;display:block;">I am not a coffee pot, I am a Teapot. <a href="http://en.wikipedia.org/wiki/Hyper_Text_Coffee_Pot_Control_Protocol">wikipedia</a></p>
{% endblock %}
