{% extends "design/site.html" %}
{% block content %}
<h1 class="pure-u-13-24" style="margin:auto;display:block;">Internal Server Error</h1><div></div>
<p class="pure-u-5-6" style="margin:auto;display:block;">I seem to have screwed up and you found it. This is good luck, just like when bird droppings land on your head. :) If you have never made a mistake then you have my permission to be angry, and you are one of the most spectacular people I have ever heard of, and would very much like to meet you. If you have made a mistake in the past then you understand that no one is perfect, so please forgive me.</p>
<br/>
<p class="pure-u-5-6" style="margin:auto;display:block;">Either way, <b>Please report this issue on <a href="https://github.com/coldwaterq/want2hack/issues/new?title=Internal%20Server%20Error:&body=Problem:%0aLocation:%0aOther%20Comments:">Github</a></b></p>
{% endblock %}
