{% extends "design/site.html" %}
{% block content %}
<div class="pure-u-1-24"></div>
<div class="pure-u-11-12">
	<div class="pure-u-1">
	<h1>About</h1>
	<p>Companies today are looking to hackers and security professionals to help them secure their assets and protect sensitive information. In this field, there are limited resources for interested individuals to learn and stretch their skills. To address this, we have engineered a website to educate those interested in hacking and security. Our solution acts as a networking platform allowing people of varying skill levels to come together and help each other learn. Through our website, professionals can create and host web challenges to be attacked by sandboxing, the process of duplicating an environment. Users obtain their own unique copy of the challenge in order to complete it at their own pace, communicating with other members for tips and advice. We hope that our success with this project will provide an innovative solution to hacking and security education. </p>
</div>
<div class="pure-u-1">
	<h2>F.A.Q.</h2>
	<ol class="unstlyed">
		<li><h5>Can I attack the site itself?</h5><p>Yes, as long as you report anything that you find to want2hack.announcement (at) gmail.com. You will recieve points and recognition for your find, but if you found an exploit that let you bypass a challenge that will be reset.</p></li>
		<li><h5>What happens if I cheat and do not show intent to report it</h5><p>You will lose all progress that was achieved through this action, losing all those points. You will also recieve a permanent penalty possibly making it so you have negative points. If this behavior repeats, you will be exiled.<br><br>An example of cheating would be creating a challenge, and making it so no one can complete it but you and people you tell a secret answer to. This would make the challenge seem very dificult, and would inflate points.</p></li>
		<li><h5>Can I host files that I want to distribute on your site</h5><p>NO. Anyone found to be doing this will be exiled, and if what is being distributed is illegal, the propper authorities will be contacted.</p></li>
		<li><h5>Can I use your site to demonstrate attacks on other sites</h5><p>Any attack of any kind trageting anyone, on this site or anywhere else, will not be permitted. The point of this site is to train people. It does not matter if you were givven permision by the third party. Anything that could be illegal will be reported to the propper authorities.</p></li>
		<li><h5>Can I host somthing other than a challenge on this site? Like my blog?</h5><p>No, anyone found to be doing this will be warned once, then be penalized, and if it continues will be exiled.</p></li>
		<li><h5>Can I host non security challenges here?</h5><p>We would like to keep this site to be security focussed, but they don't have to be a specific exploit. If you can justify why a security professional would want or need to learn it, then it can be allowed. If we think a challenge is irrelevent, we will talk to the maker before removing it.</p></li>
		<li><h5>Why do my points go up and down without me doing anything</h5><p>The ammount of points that a challenge is worth flucuates as other people solve it. This can cause your total points to increaes and decrease as others complete the challenges that you made and completed.</p></li>
	</ol>
</div>
</div>
{% endblock %}
