{% extends "design/site.html" %}
{% block head %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#table').dataTable({
                        "bJQueryUI": true
                });
			tables = $('#table_wrapper');
			for( var t=0; t<tables.length; t++){
				tables[t].setAttribute('class','pure-u-1');
			}
		} );
	</script>
{% endblock %}
{% block content %}
<h1>{{challenge['challenge_name']}}</h1>
<div class="pure-u-1-2">
	<p>{{challenge['description']}}</p>
	{% if challenge['owner_id'] == g.user['user_id'] %}
		<a href="/dashboard/challenge/{{challenge['challenge_id']}}"><button class="pure-u-1 pure-button pure-button-primary">Test/Develop {{challenge['challenge_name']}}</button></a>
	{% elif not attack %}
		<a  href="/challenge/checkout/{{challenge['challenge_id']}}"><button class="pure-u-1 pure-button pure-button-primary">Start {{challenge['challenge_name']}}</button></a>
	{% elif attack['complete'] %}
		<p>You have completed this challenge and recieved {{attack['user_points_received']}} points.</p>
		{% if attack['voted_difficulty'] %}
			<p>You voted that this challenge was the difficulty: {{config['DIFFICULTY'][attack['voted_difficulty']-1]}}</p>
		{% else %}
			<p>You forgot to vote, do so <a href="/challenge/finish/{{attack['challenge_id']}}">here</a>
		{% endif %}
	{% else %}
		<a href="/challenge/restart/{{attack['challenge_id']}}"><button class="pure-u-1-3 pure-button"><i class="icon-repeat icon-large"></i>Restart</button></a>
		{% if not attack['is_latest_version'] %}
			<a href="/dashboard/attack/update/{{attack['challenge_id']}}" ><button class="pure-u-7-24 pure-button"><i class="icon-chevron-sign-up icon-large"></i>Update</button></a>
		{% else %}
			<a href="/challenge/landing/{{attack['challenge_id']}}" ><button class="pure-u-7-24 pure-button"><i class="icon-gamepad icon-large"></i>Attack!</button></a>
		{% endif %}
		<a href="/dashboard/attack/forfeit/{{attack['challenge_id']}}"><button class="pure-u-1-3 pure-button"><i class="icon-flag-alt icon-large"></i>Give up</button></a>
	{% endif %}
	<h5 style="margin-bottom:0" class="pure-u-1-3">Published and Approved Version: {{challenge['latest_approved_version']}}</h5>
	<h5 style="margin-bottom:0" class="pure-u-1-3">Version in development: {{challenge['latest_version']}}</h5>
</div>
<div class="pure-u-1-24"></div>
<div class="pure-u-5-12">
	{% if attackers %}
		<table id='table' style="margin-top:0" class="pure-table pure-table-horizontal table">
			<caption>Users who won</caption>
			<thead>
				<tr>
					<th>Username</th>
					<th>Total Points</th>
					<th>Version Defeated</th>
				</tr>
			</thead>
			
			
			<tbody>
				{% for attacker in attackers %}
					<tr onclick="document.location='/user/{{attacker['username']}}';"  >
						<td>{{attacker['username']}}</td>
						<td>{{attacker['points']}}</td>
						<td>{{attacker['version_attacked']}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>No one has won yet</p>
	{% endif %}
</div>
{% endblock %}
