{% extends "design/site.html" %}
{% block head %}
	<script type="text/javascript">
		$(document).ready(function() {
			document.getElementById('hide').innerHTML = '';
			$('#table').dataTable({
                        "bJQueryUI": true
                });
			tables = $('#table_wrapper');
			for( var t=0; t<tables.length; t++){
				tables[t].setAttribute('class','pure-u-1');
			}
		} );
	</script>
{% endblock %}
{% block content %}
<div class="pure-u-5-6" style="margin:auto;display:block;">
	<h1 style="margin-top:0;">Challenges</h1>
	{% if not attacks_challenges %}
		<p>No one has published a challenge yet, maybe you should try making one for others.</p>
	{% else %}
		<p id="hide">Search is done with javascript, if you want that you should turn javascript back on.</p>
		<table id="table" class="pure-table pure-table-horizontal">
			<thead>
				<tr>
					<th>Name</th>
					<th>Difficulty</th>
					<th>Status</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				{% for (challenge,attack) in attacks_challenges %}
					<tr onclick="document.location='/dashboard/challenge/{{challenge['challenge_id']}}';" {% if( attacks_challenges.index((challenge,attack)) % 2 == 1 ) %} class="pure-table-odd" {% endif %} >
						<td>{{challenge['challenge_name']}}</td>
						<td>
							{% if challenge['difficulty'] != 0 %}
								{{config['DIFFICULTY'][(challenge['difficulty']/10-1)|int]}}
							{% else %}
								{{config['DIFFICULTY'][challenge['difficulty_estimate']-1]}}*
							{% endif %}
						</td>
						<td>
							{% if challenge['owner_id'] == g.user['user_id'] %}
								This is your challenge
							{% elif attack['complete'] %}
								You Beat it
							{% elif attack %}
								Already Started
							{% elif challenge['challenge_id'] not in attacks %}
								<a href="/challenge/checkout/{{challenge['challenge_id']}}"><button class="pure-u-1 pure-button pure-button-primary">Start</button></a>
							{% endif %}
						</td>
						<td>{{challenge['description']}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<p>* This challenge has not yet been completed</p>
	{% endif %}
</div>
{% endblock %}
