{% extends "design/site.html" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="pure-u-5-6" style="margin:auto;display:block;">
	<h1 style="margin-top:0;">Challenges</h1>
	{% if page != 0 %}
		<a class="pure-u-6 pure-button" href="?page={{page-1}}&count={{count}}">- page</a>
	{% endif %}
	{% if count != 1 %}
		<a class="pure-u-6 pure-button" href="?page={{page}}&count={{(count/2)|int}}">Show {{(count/2)|int}}</a>
	{% endif %}
	<a class="pure-u-6 pure-button" href="?page={{page}}&count={{count*2}}">Show {{count*2}}</a>
	<a class="pure-u-6 pure-button" href="?page={{page+1}}&count={{count}}">+ page</a>
	{% if not attacks_challenges %}
		<p>No one has published a challenge yet, maybe you should try making one for others.</p>
	{% else %}
		<p id="hide">Search is done with javascript, if you want that you should turn javascript back on.</p>
		<table id="table" class="pure-table pure-table-horizontal table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Difficulty</th>
					<th>Status</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				{% for (challenge,attack) in attacks_challenges %}
					<tr onclick="document.location='/dashboard/challenge/{{challenge['challenge_id']}}';"  >
						<td>{{challenge['challenge_name']}}</td>
						<td>
							{% if challenge['difficulty'] != 0 %}
								{{config['DIFFICULTY'][(challenge['difficulty']/10-1)|int]}}
							{% else %}
								{{config['DIFFICULTY'][challenge['difficulty_estimate']-1]}}*
							{% endif %}
						</td>
						<td>
							{% if challenge['owner_id'] == g.user['user_id'] %}
								This is your challenge
							{% elif attack['complete'] %}
								You Beat it
							{% elif attack %}
								Already Started
							{% elif challenge['challenge_id'] not in attacks %}
								<a href="/challenge/checkout/{{challenge['challenge_id']}}"><button class="pure-u-1 pure-button pure-button-primary">Start</button></a>
							{% endif %}
						</td>
						<td>{{challenge['description']}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<p>* This challenge has not yet been completed</p>
	{% endif %}
</div>
{% endblock %}
