{% extends "../design/site.html" %}
{% block content %}
<div class="pure-u-1-24"></div>
<div class="pure-u-11-12">
	{% if not g.user %}
		<h1>Contact Us</h1>
		<p>If you found a bug or problem please <a href="https://github.com/coldwaterq/want2hack/issues/new?title=User%20Found%20Bug:&body=Problem:%0aDescription:%0aLocation:%0aOther%20Comments:">Report the Bug</a></p>
		<p>If you need to contact us for something else, we require that you are logged in to get that information. Enjoy</p>
	{% else %}
		<h1>Contact Us</h1>
		<p> To report a malicious challenge use <b>want2hack.announcement+report[at]gmail.com</b></p>
		<p><a href="https://github.com/coldwaterq/want2hack/issues/new?title=User%20Found%20Bug:&body=Problem:%0aDescription:%0aLocation:%0aOther%20Comments:">Report Bugs on Github</a></p>
		<p> For other communications use <b>want2hack.announcement+other[at]gmail.com</b></p>
		<p> Any email sent to other versions of want2hack.announcement will be ignored.</p>
	{% endif %}
</div>
{% endblock %}
