{% extends "design/site.html" %}
{% block content %}
<div class="pure-u-1-24"></div>
<div class="pure-u-11-12">
	<h1>You are entering a challenge</h1>
	<p>This is content made by other users so don't trust it. Here are some guidelines</p>
	<ol>
		<li>Do not enter your password, you are already logged in no matter what they tell you.</li>
		<li>Do not enter any other password, no matter how much you may think you are on facebook.</li>
		<li>Report any challenge attempting to attack you, or attempting to attack anyone else through you.</li>
		<li>Do not enter any personal information in a challenge, these are thrid party developped.</li>
		<li>But don't forget to learn something, and have some fun</li>
	</ol>
	<p>Report malicious or mis behaving challenges to <b>want2hack.announcement+report@gmail.com</b></p>
	<p>By clicking the button you agree not to disclose your personal information in a challenge because it is completely and utterly stupid to do so.</p>
	<a href="{{challenge_location}}"><button class="pure-button pure-button-primary">Go to the challenge</button></a>
</div>
{% endblock %}
