{% extends "design/site.html" %}
{% block content %}
<div>
	<h1>Reset your password</h1>
	{% if g.user['username'] %}
		<p>Clicking the link will send a password reset link to you email, allowing you to change your password.</p> 
	{% else %}
		<p>Enter a username to recieve a password reset link to that email.</p>
	{% endif %}
	<form method="POST" >
		<input name="username" placeholder="Username" class="pure-input"
			{% if g.user['username'] %}
				type="hidden" value="{{g.user['username']}}"
			{% endif %}/>
		<input type="hidden" name="_csrf_token" value="{{g.csrf}}"/>
		<button type="submit" class="pure-button">Change my Password</button></a>
	</form>

</div>
{% endblock %}