{% extends "design/site.html" %}
{% block content %}
<div style="margin:auto;display:block;overflow:auto;" class="pure-u-5-6">
	<h1 style="margin-top:0">Leaderboard</h1>
	{% if not leaders %}
		{% if page > 0 %}
			<p>That's all folks, try decreasing the page or ammount of items shown</p>
			{% if count > 1 %}
				<a class="pure-u-6 pure-button" href="?page={{page}}&count={{(count/2)|int}}">Show {{(count/2)|int}}</a>
			{% endif %}
			{% if page > 0 %}
				<a class="pure-u-6 pure-button" href="?page={{page-1}}&count={{count}}">- page</a>
			{% endif %}
		{% else %}
			<p>No one seems to exist.</p>
		{% endif %}
	{% else %}
		{% if page > 0 %}
			<a class="pure-u-6 pure-button" href="?page={{page-1}}&count={{count}}">- page</a>
		{% endif %}
		{% if count > 1 %}
			<a class="pure-u-6 pure-button" href="?page={{page}}&count={{(count/2)|int}}">Show {{(count/2)|int}}</a>
		{% endif %}
		{% if leaders.__len__() == count %}
			<a class="pure-u-6 pure-button" href="?page={{page}}&count={{count*2}}">Show {{count*2}}</a>
			<a class="pure-u-6 pure-button" href="?page={{page+1}}&count={{count}}">+ page</a>
		{% endif %}
		{% include "injects/_leaderboard.html" %}
	{% endif %}
</div>
{% endblock %}
