{% extends "../design/site.html" %}
{% block content %}
<div>
	<h1>Set your password</h1>
	<p>Please enter in your new password. If you leave it blank, you can switch to logging in by only the password reset functionality.</p>
	<form method="POST" >
		<input type="password" name="password1" placeholder="Password" autocomplete="off" class="pure-input"/>
		<input type="password" name="password2" placeholder="Confirm Password" autocomplete="off" class="pure-input"/>
		<input type="hidden" name="_csrf_token" value="{{g.csrf}}"/>
		<button type="submit" class="pure-button">Change my Password</button></a>
	</form>
</div>
{% endblock %}