{% extends "../design/site.html" %}
{% block content %}
<div style="margin:auto;display:block;" class="pure-u-1-3">
	<p class="pure-u-1">You can use this form to sign up</p>
	<form class="pure-form" method="post">
		<input type="hidden" name="_csrf_token" value="{{g.csrf}}"/>
		<fieldset class="pure-group">
			<input class="pure-input-1" placeholder="Desired Username" type="text" name="username"></input>
			<input class="pure-input-1" Placeholder="Email" type="text" name="email"></input>
			<input class="pure-button pure-input-1" type="submit" value="Sign Up"></input>
		</fieldset>
	</form>
</div>
{% endblock %}
