body, html{
  height:100%;
}
#menu {
  width: 150px;
  float:left;
  right: 150px;
  min-height: 100%;
  z-index: 1000;
  overflow-y: auto;
  -webkit-overflow-scroll: touch;
}

#body {
   margin-left:160px;
   width:calc(100% -200px);
   width: -moz-calc(100% - 200px);
   width: -webkit-calc(100% - 200px);
}

.pure-u-1-2.edit {
  width:44%;
}

.pure-u-1-4.edit {
  width:24%;
}

.dashboard {
  width:49%;
}
@media screen and (max-width: 600px){
  #menu {
    width: 100%;
    right: 0px;
  }

  #body {
    margin-left:0px;
    width:100%;
  }
}
@media screen and (max-width: 1024px){
  .dashboard {
    width:100%;
  }
  .pure-u-1-2.edit {
    width:100%;
  }
  .pure-u-1-4.edit {
    width:100%;
  }
}

.table tr:hover{
  background-color: #ECFFB3 !important;
}

.table tr:hover td.sorting_1, .table tr:hover td.sorting_2, .table tr:hover td.sorting_3, .table tr:hover td.sorting_4 {
  background-color: #DCEFA3 !important;
}
